body {
  margin: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #ded8cc;
  height: 100%;
}

.site-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  place-content: center;
  align-items: center;
}

.hsg-column {
  width: 75px;
  height: 100vh;
}

.wickerino {
  background-color: #da8e52;
}

.basso {
  background-color: #982816;
}

.zucche {
  background-color: #8c2d71;
}

.allyno {
  background-color: #614b93;
}

.yano {
  background-color: #0d4696;
}

.luca {
  background-color: #15283e;
}

.sgari {
  background-color: #225d41;
}

.black-cover {
  height: 100%;
  width: 100%;
  background-color: #212529;
  display: flex;
  place-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  animation: 5s linear 11s 1 fadeOut forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.black-cover > img {
  position: absolute;
  opacity: 0;
  animation: 5s linear 1s 1 fadeIn forwards;
}

.black-cover > span {
  position: absolute;
  opacity: 0;
  animation: 5s linear 6s 1 fadeIn forwards;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.site-container > span {
  position: absolute;
  opacity: 0;
  animation: 5s linear 16s 1 fadeInStop forwards;
  font-size: 36px;
  font-weight: 300;
}

@keyframes fadeInStop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .hsg-column {
    width: 50px;
  }
}

@media (max-width: 750px) {
  .hsg-column {
    width: 40px;
  }

  .black-cover > img {
    width: 400px;
  }

  .black-cover > span {
    font-size: 24px;
    letter-spacing: 8px;
  }
}
